.Input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba($color: #000000, $alpha: 1);
  border-radius: 0.25rem;
  font-weight: normal;
  font-size: inherit;
  font-family: inherit;
  &:focus {
    outline: none;
  }
}
