.StepDetailContiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  p {
    margin: 0;
    margin-bottom: 1rem;
  }

  .StepHeader {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
