.Button {
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:focus {
    border-color: #000000;
  }

  &:active {
    transform: scale(0.995);
  }
}

.primary {
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: #efefef;
  border: 1px solid rgba($color: hsl(0, 0%, 0%), $alpha: 0.5);
  box-shadow: 01px 2px 2px 0.1px rgba($color: black, $alpha: 0.5);
}

.secondary {
  background: transparent;
  border: none;
  font-weight: 500;
  color: hsl(0, 0%, 21%);
}
