.Container {
  width: 120px;
  height: 100%;
  height: 240px;
  min-height: 240px;
  max-height: 480px;
  background: grey;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    color: aliceblue;
  }

  @media (max-width: 720px) {
    width: 100%;
  }
}
