.App {
  // margin: auto;
  // section {
  //   width: 100%;
  //   display: grid;
  //   place-items: center;
  // }

  // @media (min-width: 1440px) {
  //   width: 90%;
  //   // max-width: 1080px;
  //   section {
  //     display: grid;
  //     place-items: center;
  //     grid-template-columns: 2fr 2fr 1fr;
  //     grid-column: auto;
  //   }
  // }
  margin: auto;
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
