.CardContainer {
  width: 40%;
  border: 2px solid grey;
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 720px) {
    width: 100%;
  }
}
